<div style="width:500px;height:180px;">
    <h2 style="font-size:40px;">Welcome! Please log in.</h2>
    <a href="/api/auth/facebook">Login with FACEBOOK</a>  

    <a href="/api/auth/google">Login with GOOGLE</a>  
</div>

<form method="POST" action="/api/auth/">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>
<img src="../assets/image1.jpg">